{% extends 'base.html.twig' %}

{% block title %}Garage Vincent Parrot
{% endblock %}

{% block body %}
	
	{% include "partials/_about.html.twig" %}
	
	<div class="row">

		{% include "partials/_intro_car_block.html.twig" %}

		{% for car in cars %}
			{% include "partials/_car_block.html.twig" %}
		{% endfor %}
		
		{% include "partials/_intro_service_block.html.twig" %}

		{% for service in service %}
			{% include "partials/_service_block.html.twig" %}
		{% endfor %}

		{% include "partials/_intro_review.html.twig" %}

		{% include "review/list.html.twig" %}
	</div>

{% endblock %}


