<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="{{ asset('build/img/various/luxury-mercedes.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Image d'une moitié d'avant de mercedes" width="700" height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="headline-text">BIENVENUE CHEZ GARAGE VINCENT PARROT</h1>
			<p class="body-text">
				Situé au cœur de Toulouse, nous sommes votre destination de confiance pour l'achat de véhicules d'occasion et les réparations toutes marques. Notre équipe dévouée sélectionne méticuleusement chaque voiture d'occasion pour garantir qualité et fiabilité.
			</p>
			<p class="body-text">Nous offrons également des services de réparation et d'entretien complets, assurés par des techniciens qualifiés. Notre passion pour l'automobile se reflète dans notre engagement envers la satisfaction client, et nous nous efforçons de vous offrir une expérience exceptionnelle à chaque visite. Faites confiance à Garage Vincent Parrot pour tous vos besoins automobiles à Toulouse !
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-center">
					<a href="{{ path('app_showcar') }}" class="button">Accès Véhicules</a>
					<a href="{{ path('app_showservice') }}" class="button">Accès Services</a>
			</div>
		</div>
	</div>
</div>
