<div class="footer-container bg-light">
	<footer class="text-center sticky-bottom">
		{% include 'partials/_infos.html.twig' %}
		<h5 class="body-text">&copy; Dossier Projet Daniel Gros 2024, tous droits réservés.</h5>
	</footer>
</div>
