<div class="row justify-content-end">
	<div class="col-md-6">
		<div class="infos sidebar">
			<div class="row">
				<h5 class="">
					<strong>1 Quai Général De Gaulles 31000 Toulouse</strong>
				</h5>
				<p class="body-text">01.02.03.04.05</p>
				<p class="body-text">Du Lundi au Vendredi</p>
				<p class="body-text">8h45-12h00 / 14h00-18h00</p>
				<p class="body-text">Le Samedi</p>
				<p class="body-text">8h45-12h00</p>
			</div>
		</div>
	</div>
</div>

