<div class="row justify-content-end">
	<div class="col-md-6">
		<div class="infos sidebar">
			<div class="row">
				<h5>
					<strong>1 Quai Général De Gaulles 31000 Toulouse</strong>
				</h5>
				<p>01.02.03.04.05</p>
				<p>Du Lundi au Vendredi</p>
				<p>8h45-12h00 / 14h00-18h00</p>
				<p>Le Samedi</p>
				<p>8h45-12h00</p>
			</div>
		</div>
	</div>
</div>
