<div class="card mt-5">
	<div class="card-body text-center">
		<p class="card-text body-text">Au Garage Vincent Parrot, nous sommes bien plus qu'un simple garage automobile. Nous sommes votre partenaire de confiance pour tout ce qui concerne l'entretien, la réparation et même les aspects administratifs de votre véhicule. Notre équipe dévouée de mécaniciens hautement qualifiés est là pour assurer que votre voiture reste en parfait état de fonctionnement, kilomètre après kilomètre.
			<br><br>
			Que ce soit pour une simple vidange, un changement de pneus, ou une réparation plus complexe, notre garage est équipé des dernières technologies et des outils les plus avancés pour garantir un travail de qualité et des résultats durables.
			<br><br>
			Mais notre engagement ne s'arrête pas là. Nous comprenons que la paperasse peut parfois être un vrai casse-tête, c'est pourquoi nous vous offrons également des services administratifs pour simplifier votre vie. Que ce soit pour les formalités d'immatriculation, les démarches d'assurance ou les inspections obligatoires, nous sommes là pour vous guider à chaque étape.
			<br><br>
			Chez Garage Vincent Parrot, votre satisfaction est notre priorité absolue. Faites-nous confiance pour prendre soin de votre voiture, pendant que vous vous concentrez sur l'essentiel : profiter de la route en toute tranquillité d'esprit.
		</p>
		<a href="{{ path('app_showservice') }}" class="button">Accéder à tous nos services.</a>
	</div>
</div>
