<div class="card">
	<div class="card-body text-center">
		<p class="card-text primary">Nos dernières exclusivités à la vente</p>
		<a href="{{ path('app_showcar') }}" class="btn btn-dark">Accéder à notre catalogue de véhicules.</a>
	</div>
</div>
