<div>
	<h2>Votre avis nous intéresse.</h2>
	<p>Vous êtes client(e) ? vous avez été satisfait de nos prestations sur votre véhicule ou de l'accueil qui vous a été réservé par nos collaborateurs?
		<br>
		N'hésitez pas à nous laisser un avis.
	</p>
    <a class="btn" href="{{path('app_review_create')}}">Laisser un avis</a>
</div>
