<div class="card">
	<div class="card-body text-center">
		<h2 class="headline-text">Nos dernières exclusivités à la vente</h2>
		<a href="{{ path('app_showcar') }}" class="button">Accéder à notre catalogue de véhicules.</a>
	</div>
</div>
