<div class="col-md-4 my-2 d-flex">
    <div class="card w-100">
        <img src="{{ vich_uploader_asset(service, 'imageFile') }}" class="card-img-top" alt="image relative au service concerné : {{ service.name }}" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">{{ service.name }}</h5>
            <p class="body-text">{{ service.description }}</p>
            <a href="#" class="button mt-auto text-center">CONTACTEZ NOUS</a>
        </div>
    </div>
</div>
