{% extends 'base.html.twig' %}

{% block title %} Nos services
{% endblock %}

{% block body %}
	<div class="row">

		{% for service in service %}
			{% include "partials/_service_block.html.twig" %}
		{% endfor %}
	
    </div>
{% endblock %}