{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="headline-texte">Avis en attente de confirmation</h1>
    <ul>
        {% for review in reviews %}
            <li>
                <strong>{{ review.nickname }}</strong>: {{ review.message }} (Note: {{ review.score }})
                <form action="{{ path('review_approve', {id: review.id}) }}" method="post">
                    <button type="submit">Approuver</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
