@use './_variables.sass' as var

@mixin button-style()
    background-color: var.$dark
    color: var.$light
    border: none
    border-radius: 5px
    &:hover
        background-color: var.$light
        color: var.$dark

@mixin button-animation()
    transition: var.$dark 0.3s ease-in-out
