// Variables des couleurs de la charte graphique

$primary: #d94350
$secondary: #d9777f
$dark: #262526
$light: #f2f2f2
$danger: #d92332

// Variables de couleurs de texte

$primary-text: #d94350
$secondary-text: #d9777f
$dark-text: #262526
$light-text: #f2f2f2
$danger-text: #d92332


$background-color: #DCD5D3

// Variables des polices de caractères

$headline-font: 'Rajdhani', sans-serif
$body-font: 'Barlow', sans-serif

// Variables du footer

$footer-padding: 10px
$footer-expanded-padding: 20px
$transition-duration: 0.3s