@use '../abstracts/_all.sass' as abstracts

.one-car
    height: 100%
    width: 60vw
    color: abstracts.$dark
    background-color: abstracts.$primary
    border: 1px solid
    border-radius: 5px
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)
    list-style: none
