{% extends 'base.html.twig' %}

{% block title %} Véhicules d'occasion
{% endblock %}

{% block body %}
	{% include "partials/_filter_for_cars.html.twig" %}

	<div class="row">
		{% for car in cars %}
			{% include "partials/_car_block.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
